* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 22px;
    color: #767676;
}

.container {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    margin: auto;
}

.gray {
    background-color: #777777;
    color: #fff;
}

header {
   background: #DCDCDC;
   width: 100%;
}

.header__container {
    /* position: relative; */
    height: 230px;
    display: flex;
    align-items: center;
}

.header__logo{
    /* position: absolute;
    left: 15px; */
}

.header__contacts{
    /* position: absolute;
    right: 15px; */
    margin-left: auto;
}

.slider {
    display: flex;
    justify-content: center;
}
.slider__item {
    max-width: 1248px;
    width: 100%;
}
menu {
    height: 80px;
}
.menu__list {
    height: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.menu__item {
    font-size: 30px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 2px 20px;
}

.menu__item:hover {
    text-decoration: underline;
}

.menu__item:first-child {
    border-left: none;
}

.menu__item:last-child {
    border-right: none;
}