/* cyrillic */
  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptsans/v16/jizaRExUiTo99u79D0aExdGM.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  /* latin */
  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptsans/v16/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* cyrillic */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensanscondensed/v21/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuHMR6WR.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensanscondensed/v21/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMRw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: #fff;
}

html, body {
    height: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #767676;
    font-family: 'PT Sans';
    font-weight: lighter;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 1 auto;
}

.container {
    width: 1000px;
    height: 100%;
    padding: 10px 10px;
    margin: auto;
}

.gray {
    background-color: #777777;
    color: #fff;
}

header {
   background: #DCDCDC;
   width: 100%;
}

.header__container {
    /* position: relative; */
    height: 230px;
    display: flex;
    align-items: center;
}

.header__contacts{
    margin-left: auto;
    font-family: 'Open Sans Condensed';
    font-size: 40px;
    line-height: 40px;
}

.slider {
    display: flex;
    justify-content: center;
}
.slider__item {
    width: 1248px;
}
menu {
    height: 80px;
}
.menu__list {
    height: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.menu__item {
    font-size: 30px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 2px 20px;
}

.menu__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu__item:first-child {
    border-left: none;
}

.menu__item:last-child {
    border-right: none;
}

.content {
    display: flex;
    margin: 20px 0;
}

.news {
    width: 350px;
    padding: 25px 50px 100px 35px;
}
.news__title {
     font-size: 40px;
     margin-bottom: 40px;
     font-weight: bold;
}

.news__item {
    margin-bottom: 25px;
}

.news__date {
    font-style: italic;
}

.news__text:hover {
    text-decoration: underline;
}

.news__archive {
    display: block;
    text-align: right;
    color: #fff;
    text-decoration: underline;
}

.company{
    margin: 20px 0 0 60px;
}

.company__item {
    margin-bottom: 30px;
}

.company__title {
    font-size: 40px;
}

footer {
    height: 220px;
}

.footer__row {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.footer__licence {
    width: 350px;
}

.footer__menu {
    list-style-type: none;
    text-decoration: underline;
    width: 280px;
}

.footer__info {
    display: flex;
}

.footer__info-img {
    width: 36px;
    height: 38px;
    margin-right: 10px;
}